body {
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    width: 40%;
    font-size: 22px;

}

.btn {
    padding: 12px 24px;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 15px;
}

.right img {
    position: relative;
    margin-left: -320px;
    height: 600px;
}

.Boot {
    width: auto;
    height: 90px;
    background-color: black;
    margin-top: -5px;
    color: white;
}

.Boot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

.star img {
    width: 80px;
    top: 50px;
    right: 130px;
    position: absolute;
}

.stargirls img {
    width: 60px;
    top: 250px;
    right: 700px;
    position: absolute;
}






@media (min-width: 200px) and (max-width: 575px){
    .header{
    font-size: 15px;
    }
    
}